*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
/* thông thường 1 rem = 16px
cần quy đổi tính tỷ lệ để 1 rem = 10px
10/16 * 100 = 62,5%
cần giảm font size của html xuống 62,5% */
/* bài 56 */
body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* common */
a{
    text-decoration: none;
}
.btn{
display: inline-block;
min-width: 118px;
padding: 0 16px;
line-height: 50px;
color: #FFF;
text-align: center;
font-size: 1.6rem;
border-radius: 24.5px;
background: #171100;
font-weight: 600;
}
.main-content{
    width: 1170px;
    max-width: calc(100%- 48px);
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-color: #FFFCF4;;
}
.header.fixed{
    position: sticky;
    top: -28px;
}
/* header */
.header .body{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav{
    margin-left: auto;
}
.nav ul{
    display: flex;
    /* align-items: center; */
}

.nav a{
    position: relative;
    color: #5F5B53;
    text-align: center;
    /* font-family: Poppins; */
    font-size: 1.6rem;
    line-height: 28px; /* 175% */
   
    padding: 8px 21px;

}
.nav a:hover{
color: #171100;
/* font-weight: 600; */
text-shadow: 1px 0 0 currentColor;

}
.nav li.active a::after{
position: absolute;
left: 21px;
bottom: 6px;    
display: block;
content: "";
width: 12px;
height: 2px;
border-radius: 1px;
background: #171100;
}
.header .btn-sign-up{
    min-width: 144px;
}
.header .action{
    margin-left: 49px;
}